html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

ol, ul {
  list-style: none;
}

body {
  background: #131313;
  background-image: linear-gradient(#111111, #2A2A2A);
  color: #F3F3F3;
  background-repeat: no-repeat;
  background-position: top right;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
}
body nav {
  display: flex;
  justify-content: space-between;
  margin: 0rem 15rem;
  padding: 3rem 0;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
}
body nav #logo {
  display: flex;
}
body nav ul {
  display: flex;
}
body nav ul li {
  padding: 0 2rem;
}
body nav ul li a {
  position: relative;
}
body nav ul li a:hover {
  color: #00DE00;
  transition: 0.5s;
}
body nav ul li a:after {
  content: "";
  width: 0;
  position: absolute;
  height: 5px;
  border-radius: 2px;
  background-color: #00DE00;
  top: 1.7rem;
  left: 0;
  transition: 0.4s;
}
body nav ul li a:hover:after {
  width: 60%;
}
body nav ul button {
  margin-left: 2rem;
  margin-top: -1.2rem;
  background: #00DE00;
  color: #111111;
  border: 1px solid #00DE00;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.2s;
}
body nav ul button:hover {
  color: #00DE00;
  background: transparent;
}
body section {
  margin: 0rem 10rem;
}
body section #pics_product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
}
body section #pics_product .mini_pics div {
  transition: 0.3s;
  border-left: 10px solid transparent;
  width: 120px;
  height: 120px;
}
body section #pics_product .mini_pics div:hover {
  border-left: 10px solid #00DE00;
}
body section #pics_product .mini_pics div:active {
  border-left: 10px solid #00DE00;
}
body section #pics_product .mini_pics img {
  border: 10px solid transparent;
  background-color: #111111;
  margin: 1.5rem 0;
  border-radius: 0px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body section #pics_product .main_pic {
  background-image: url("../src/mouse1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 80%;
}
body section #pics_product .main_pic img {
  transition: 0.3s;
  width: 250px;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
body section #details_product {
  padding: 5rem;
}
body section #details_product div:nth-child(2) {
  margin: 2rem 0;
}
body section #details_product .infos_product * {
  padding: 0.5rem 0;
}
body section #details_product .infos_product h1 {
  font-weight: 600;
  font-size: 3rem;
  color: #00DE00;
}
body section #details_product .infos_product p {
  color: #B5B5B5;
  font-weight: 600;
  font-size: 1rem;
}
body section #details_product .infos_product h3 {
  font-weight: 500;
  font-size: 3.5rem;
}
body section #details_product .options_product {
  display: block;
}
body section #details_product .options_product select {
  flex: 1;
  background: transparent;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.4rem;
  letter-spacing: 3px;
}
body section #details_product .options_product select * {
  margin: 1rem 0;
}
body section #details_product .options_product select:before {
  content: "Model";
  position: absolute;
  width: 100%;
}
body section #details_product .options_product select:hover {
  border: 1px solid #00DE00;
}
body section #details_product .options_product select:active {
  border: 1px solid #00DE00;
}
body section #details_product .options_product select a:visited {
  border: 1px solid #00DE00;
}
body section #details_product .options_product select option {
  background: #111111;
  padding: 10rem 0;
}
body section #details_product .options_product select option:focus {
  background: #00DE00;
}
body section #details_product .options_product div:last-child select {
  padding-right: 5rem;
}
body section #details_product button {
  background: #00DE00;
  color: #111111;
  border: 1px solid #00DE00;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.2s;
  margin-right: 2.5rem;
}
body section #details_product button:hover {
  color: #00DE00;
  background: transparent;
}
body section #details_product button:last-child {
  color: #00DE00;
  background-color: transparent;
}
body footer a {
  color: #00DE00;
}/*# sourceMappingURL=styles.css.map */